* {
    margin: 0px;
    padding: 0px;
    transition:.6s;
}

body {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Righteous, sans-serif;
    background: linear-gradient(to right, #5fffea, #887bfe);
}

h1 {
    color: rgb(1, 108, 19);
    border-bottom: 3px solid rgb(1, 108, 19);
}

h1 span {
    color: white;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
    height:max-content;
    max-height: fit-content;
}

input {
    border: none;
    outline: none;
    font-size: 28px;
    padding-left: 10px;
    background-color: rgb(228, 230, 255);
    border-radius: 10px;
    pointer-events: none;
}

.display {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
}

#copy {
    padding: 10px;
    font-size: large;
    filter: invert();
    cursor: pointer;
}

.button {
    position: relative;
    width: 150px;
    ;
    height: 50px;
    border: none;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
}

button {
    position: absolute;
    height: 100%;
    font-size: large;
    width: 100%;
    border-radius: 10px;
    background-color: #0c2331c5;
    color: rgb(247, 214, 250);
    cursor: pointer;
    z-index: 10;
}
button:hover {
    background-color: #0c2331;
    transform:scale(1.1);
}
#copy:hover {
    transform: scale(1.1);
}